{% extends 'base.html' %}

{% block content %}
    <h1> About page </h1>
    <h3> {{ title|capfirst|title }} </h3>

    <p>
      {{ my_html|safe }}
    </p>

    <p>
    {{ my_number }}, {{ my_lists }}
    </p>

    <ul>
      <p> My list: </p>
    {% for abc in my_lists %}
      {% if abc == 123 %}
        <li> {{forloop.counter}} - {{ abc|add:22 }} </li>
      {% elif abc == "Abc" %}
        <li> This is not the network </li>
      {% else %}
        <li> {{forloop.counter}} - {{ abc}} </li>
      {% endif %}
    {% endfor %}
    </ul>

{% endblock content %}
